/*済*/
body {
    background-color:rgb(245, 246, 232);
	background-image: url(pc_human.png);
	background-repeat: no-repeat;
	background-position: 20% 450%;
	background-size: 20%;
}


h1 {
    font-size:150%;
    color:black;
    margin-left: 7%;
    }

h2 {
    font-size:25px;
    text-align: right;
}

.move {
    text-align: center;
}

/* 就業管理表、有給申請ボタン設定 */
.move button {
    width:20em;
    height:6em;
    margin: 5%;
    background-color: rgb(206, 246, 212);
}

#back {
    font-size:25px;
}

.info {
    padding: 10px;
    padding-left:   10px;
    margin-left:   20%;
    margin-right:   20%;
    margin-bottom: 10px;
    border: 5px double #333333;
    border-radius: 10px;
    background-color:white;
}

.fileSend {
    text-align: center;
}

/*戻るボタン設定*/
.back_btn
{
  margin-left: 5%;
}

/* スクリーンサイズが768px以上（PCなど）の場合に適用 */
@media (min-width: 768px)
{
    .back_btn
    {
        margin-left: 10%
    }
}


/* 就業管理表、有給申請ボタン設定 */
.button_solid001 a 
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    padding: 20px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eee;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
}
.button_solid001 a:hover 
{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

/*スクリーンサイズが768px未満（スマホなど）の場合に適用*/
.style
{
	border: #2e9913 double 5px;
	border-radius:15px;
	font-size: 100%;
	padding: 15px;
	box-shadow: 0 5px 7px 0 #c0c0c0;
	margin-left: 5%;
	margin-right: 5%;
}

/* スクリーンサイズが768px以上（PCなど）の場合に適用 */
@media (min-width: 768px)
{
	.style
	{
		border: #2e9913 double 5px;
		border-radius:15px;
		font-size: 100%;
		padding: 15px;
		box-shadow: 0 5px 7px 0 #c0c0c0;
		margin-left: 30%;
		margin-right: 30%;
	}
} 